/* SOIREES */
#soirees{
    width: 70%;
    margin: auto;
    
}

.soiree {
    display: grid;
    grid-template-columns: 30% 30% 30% 10%;
    width: 100%;
    margin: 1em 0;
    padding: 10px;
    background-color: #3b3f42;
    border-radius: 5px;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    -ms-border-radius: 5px;
    -o-border-radius: 5px;
    text-align: center;
    font-size: 1.2em;
}

.soiree.first {
    grid-template-columns: 90% 10%;
    font-weight: 700;
    font-size: 1.4em;
}

.soiree p {
    margin: auto 0;
}
.soiree i {
    font-size: 1.8em;
    text-align: right;
}

.soiree p:first-child {
    text-align: left;
}

/* ATTRIBUTION */
#attribution {
    width: 80%;
    margin: auto;
    position: relative;
}

.presets {
    position: absolute;
    top: 20px;
    right: -127px;
    width: 75px;
    display: grid;
    grid-template-rows: repeat(4, 1fr);
    display: none;
}

.preset{
    margin-bottom: 1em;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #3b3f42;
    height: 100px;
    width: 75px;
    font-size: 2em;
    font-weight: 700;
    border-radius: 10px 0 0 10px;
    -webkit-border-radius: 10px 0 0 10px;
    -moz-border-radius: 10px 0 0 10px;
    -ms-border-radius: 10px 0 0 10px;
    -o-border-radius: 10px 0 0 10px;
}

/* POPUP */
.popup-content{
    display: flex;
    padding: 5px 10px;
    
}

.popup-content-volume{
    width: 50%;
}

.popup-content-volume-jauge input{
    width: 100%;
    margin-top: 15px;
}

.popup-content-volume-jauge input[type=range] + datalist {
    display: block;
    margin-top: -4px;
}

.popup-content-volume-jauge input[type=range] + datalist option {
    display: inline-block;
    width: calc((100% - 12px) / (5 - 1));
    text-align: center;
}
.popup-content-volume-jauge input[type=range] + datalist option:first-child {
    width: calc((100% - 12px) / ((5 - 1) * 2) + 6px);
    text-align: left;
}
.popup-content-volume-jauge input[type=range] + datalist option:last-child {
    width: calc((100% - 12px) / ((5 - 1) * 2) + 6px);
    text-align: right;
}
.popup-content-volume-bouton {
    display:grid;
    grid-template-columns: 1fr 1fr;
    gap: 10px;
    justify-items: center;
}

.popup-content-volume-bouton button {
    font-family: 'Rubik', sans-serif;
    cursor: pointer;
    outline: none;
    background: none;
    border: 2px solid #fff;
    color: #fff;
    font-size: 1.2em;
    font-weight: 500;
    width: 65px;
    height: 65px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.popup-content-volume-bouton button:nth-child(1) {
    background-color: #d72631;
}
.popup-content-volume-bouton button:nth-child(2) {
    background-color: #12a4d9;
}
.popup-content-volume-bouton button:nth-child(3) {
    background-color: #f5d300;
}
.popup-content-volume-bouton button:nth-child(4) {
    background-color: #d9138a;
}
.popup-content-volume-bouton button:nth-child(5) {
    background-color: #652ec7;
}
.popup-content-volume-bouton button:nth-child(6) {
    background-color: #13ca91;
}

.popup-content-volume-bouton button.selected {
    border: 4px solid #fff;
    font-weight: 700;
}

.popup-content-tuyaux{
    width: 50%;
}

.popup-content-tuyaux p {
    text-align: center;
    font-size: 1.8em;
    margin: 0 0 10px;
}

.popup-content-tuyaux .pad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    /* gap: 10px; */
    justify-items: center;
}
.popup-content-tuyaux button {
    margin: 0 5px 10px;
    background: none;
    height: 70px;
    width: 70px;
    color: #fff;
    outline: none;
    cursor: pointer;
    border: 2px solid #fff;
    font-size: 1.6em;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.popup-content-tuyaux button:hover {
    background-color: #fff;
    color: #000;
}

.popup-content-tuyaux button.selected {
    font-weight: 700;
    border: 4px solid #fff;
}

.popup-content-tuyaux button.disable {
    border: 1px solid grey;
    color: grey;
}

/* CREATION SOIREE */

#creation-soiree{
    width: 80%;
    margin: auto;
}
.creation-soiree_content{
    display: flex;
    margin-top: 1em ;
    background-color:#3b3f42;
    width:400px;
    align-content: center;
    justify-content: center;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
  /*   flex-direction: column; */
}

.creation-soiree_content form{
    display: flex;
}

.creation-soiree_text{
    width:50%;
    display:contents;
}

.creation-soiree_checkbox{
    width:50%;
}