@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@400;500;600;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
}

body {
    overflow: hidden;
    position: relative;
    width: 1024px;
    height: 600px;
    background-color: #000;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

main {
    height: calc(100% - 85px);
    overflow-y: scroll;
}

a {
    color: #fff;
    text-decoration: none;
}

::-webkit-scrollbar {
    width: 5px;
    height: 5px;
}
::-webkit-scrollbar-button {
    width: 0px;
    height: 0px;
}
::-webkit-scrollbar-thumb {
    background: #e1e1e1;
    border: 31px none #ffffff;
    border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
    background: #a1a1a1;
}
::-webkit-scrollbar-thumb:active {
    background: #a3a3a3;
}
::-webkit-scrollbar-track {
    background: #f0f0f0;
    border: 1px solid #ffffff;
    border-radius: 5px;
}
::-webkit-scrollbar-track:hover {
    background: #f2f2f2;
}
::-webkit-scrollbar-track:active {
    background: #f5f5f5;
}
::-webkit-scrollbar-corner {
    background: transparent;
}

/* HEADER */
.header-logo {
    display: flex;
    align-items: center;
    font-size: 1.8em;   
}

/* GENERAL */
.section-title {
    text-align: center;
    font-size: 1.6em;
   margin-bottom: .4em;
}

.section-title h1 {
    font-weight: 600;
}
.page-selector {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    margin: 15px 0;
}

.page-selector a {
    border: none;
    color: white;
    padding: 5px 24px;
    text-align: center;
    text-decoration: none;
    font-size: 1.3em;
    margin: 4px 10px;
    cursor: pointer;
    background-color: #111;
    border: 2px solid #f5f5f5;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    transition: 200ms;
    -webkit-transition: 200ms;
    -moz-transition: 200ms;
    -ms-transition: 200ms;
    -o-transition: 200ms;
}

.page-selector a:hover {
    box-shadow: 0 0.5em 0.5em -0.4em white;
    transform: translateY(-0.25em);
    outline: none;
    -webkit-transform: translateY(-0.25em);
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -o-transform: translateY(-0.25em);
}

.page-selector .active {
    box-shadow: 0 0.5em 0.5em -0.4em white;
    background-color: #f5f5f5;
    color: black;
    font-weight: bold;
    animation: fadein 1s;
    -webkit-animation: fadein 1s;
    transform: translateY(-0.25em);
    -webkit-transform: translateY(-0.25em);
    -moz-transform: translateY(-0.25em);
    -ms-transform: translateY(-0.25em);
    -o-transform: translateY(-0.25em);
}
/* CHOIX */
.choix {
    display: grid;
    grid-template-columns:repeat(4,1fr);
    gap: 25px;
}

.choix .item {
    cursor: pointer;
    text-align: left;
    width: 200px;
    height: 200px;
    margin: auto;
    padding: 10px;
    border: 2px solid #ffd0d0;
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
    background-color: #3b3f42;
    box-shadow: 0 0 10px 1px #f00;
    position: relative;
}

.choix .item .item-header h3 {
    font-size: 1.4rem;
    font-weight: 500;
    color: #ffffd7;
}

.choix .item .item-icon {
    color: white;
    font-size: 6rem;
    position: absolute;
    bottom: 5px;
}

.choix .item .item-add {
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 50px;
    width: 50px;
    font-size: 1.8rem;  
    border-radius:50% ;
    -webkit-border-radius:50% ;
    -moz-border-radius:50% ;
    -ms-border-radius:50% ;
    -o-border-radius:50% ;
    position: absolute;
    bottom: 5px;
    right: 5px;
    background-color: #0066ff;
}

.choix .item .item-add.add {
    background-color: #2ecc71;
}
.choix .item .item-add.used {
    background-color: 	#ff9900;
}

/* ADDING */
.adding {
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.adding .card {
    height: 95%;
    width: 80%;
    background-color: #3b3f42;
    border-radius: 20px;
    -webkit-border-radius: 20px;
    -moz-border-radius: 20px;
    -ms-border-radius: 20px;
    -o-border-radius: 20px;
    padding: 10px 10px;
}

.adding .card-header {
    font-size: 2em;
    color: #ff7f00;
    position: relative;
    display: flex;
    align-items: center;
}

.adding .card-header h2, .adding .card-header h4 {
    display: inline;
}

.adding .card-header h2 {
    width: 70%;
}

.adding .card-header h4 {
    color: #fff;
    font-size: 1.6rem;
    font-weight: 200;
    width: 30%;
}

.adding .card-header span {
    font-weight: 500;
    color: orangered;
}

.adding .card-header a {
    font-size: 1.4em;
    position: absolute;
    top: -5px;
    right: 0;
    transition: all 200ms ease-in-out;
    -webkit-transition: all 200ms ease-in-out;
    -moz-transition: all 200ms ease-in-out;
    -ms-transition: all 200ms ease-in-out;
    -o-transition: all 200ms ease-in-out;
}
.adding .card-header a:hover {
    color: #000;
}