@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    background-color: #fff;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

body {
    width: 1024px;
    height: 600px;
    background-color: #000;
    color: #fff;
    font-family: 'Rubik', sans-serif;
}

a {
    color: #fff;
}

/* HEADER */
.header-logo {
    display: flex;
    align-items: center;
    font-size: 2em;
    margin-bottom: .6em;    
}

/* TYPO */
.section-title {
    text-align: center;
    font-size: 1.6em;
   margin-bottom: .4em;
}